body{
    padding: 0;
    margin: 0;
}

.main {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 162.14285714285714285714285714286vw;
    font-size: 2.5714285714285714285714285714286vw; /*36*/
}

.start {
    background-color: #de2b24;
    height: 38.325%;
}

.headLine {
    padding-top: 9.494%;
    line-height: 0.7222em;
    font-weight: bold;
    font-family: "Helvetica Neue";
    margin-bottom: 1%;
}

.underHead {
    font-family: "Helvetica Neue";
    font-size: 0.5555em;
}

.pictures {
    display: inline-block;
    margin-top: 4.8828vw;
    align-self: center;
    height: 58.16%;
    width: 73%;
    font-size: 0;
    margin-bottom: 13.207vw;
}

.whiteLine {
    display: inline-block;
    align-self: center;
    width: 3.3571vw;
    height: 0.35715vw;
    background-color: #f3f3f3;

}

.whitespace {
    margin-top: 2px;
    width: 100%;
}

.picture {
    display: inline-block;
    width: 25%;
    height: 49%;
    align-self: start;
    float: left;
    margin: 0;
    padding: 0;
    background: #f35e59;
    font-size: 1.2353vw;
}
.p-25{
    width: 14.7254%;
    height: 14.7254%;
    padding-top: 25%;
}
.p-25:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.img{
    width: 100%;
    height: 100%;
    transition: transform .5s;
}
.img:hover{
    transform: scale(1.2);
}

.projectName {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Helvetica Neue";
    text-align: center;
}

.project {
    font-size: 1em;
    font-family: "Helvetica Neue";
    text-align: center;
}

.middle {
    display: inline-block;
    height: 37.356%;
    width: 100%;
    background-color: #1287bf;
    align-items: center;
}

.formIconArea{
    width: 100%;
}

.formCircle {
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 3.5vw;
    background-color: rgba(255,255,255,0);
    border: 3px solid #ffffff;
    margin: 1px;
    cursor: pointer;
}
.formArrow {
    display: inline-block;
    margin-top: 25%;
    width: 33%;
    height: 33%;

    border: 3px solid #ffffff;
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg);
}
.formArea {
    display: inline-block;
    width: 48.785%;
    height: 56.485%;

    margin-top: 1vw;
    font-size: 0;
}
.triangleArea{
    width: 100%;
}
.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 2.5vw solid transparent;
    border-right: 2.5vw solid transparent;
    border-bottom: 2.5vw solid #ffffff;
    margin-bottom: -1px;
}
.closeCircle {
    position: relative;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 3.5vw;
    background-color: #de2b24;
    border: 3px solid #ffffff;
    float: right;
    top: -1.25vw;
    right: -1.25vw;
    font-size: 1.75vw;
    cursor: pointer;
}
.close{
    width: 100%;
    height: 100%;
    margin-top: 21%;

    font-weight: 300;
    font-family: Arial, sans-serif;
}
.formHead {
    font-size: 1.4974vw;
    line-height: 2.2903vw;
    color: #828282;
    font-family: "Helvetica";
    text-align: center;
    margin-bottom: 5%;
}

.formBody {
    background: white;
    height: 90%;
    width: 84%;
    padding: 5% 8% 5% 8%;
    text-align: center;
    margin: 0;
    font-size: 2.606vw;
}

.form {
    display: inline-block;
    width: 75%;
    padding: 0;
}

.inputArea {
    display: inline-block;
    height: 75%;
    margin-bottom: 10%;
}

.input {
    display: inline-block;
    border-radius: 3px;
    background-color: rgba(241,241,241,0);
    border: 1px solid #d8d8d8;
    width: 100%;

    margin-bottom: 1%;
    font-size: 0.3889em;
    line-height: 3.5vw;
    color: #b0b0b0;
}

.btn-submit {
    display: inline-block;
    border-radius: 1px;
    border-color: #de2b24;
    background-color: #de2b24;
    height: 3.5vw;

    font-size: 0.4444em;
    color: #ffffff;
    font-weight: bold;
    font-family: "Helvetica Neue";

    cursor: pointer;
}

.ending {
    display: inline-block;
    height: 21.585%;
    width: 100%;
    background-color: #2a2a2a;
    text-align: center;
}

.endHeadLine {
    display: inline-block;
    padding-top: 5%;
    font-size: 0.8055em;
    line-height: 0.6111em;
    font-weight: bold;
    margin-bottom: 2%;
}

.endIconsArea {
    display: inline-block;
    width: 100%;
    height: 9.183%;
    align-items: center;
    margin-bottom: 2%;
}

.link{
    text-decoration: none;
}

.socialArea {
    display: inline-block;
    height: 3.5037vw;
    width: 3.5037vw;
    border-radius: 1px;
    background-color: rgba(243,243,243,0);
    border: 2px solid #515151;
    margin-right: 0.5%;
}
.socialArea:hover{
    border-color: #de2b24;
}
.social {
    display: inline-block;
    height: 50%;
    padding-top: 25%;
}

.endUnderText {
    font-size: 0.3889em;
    line-height: 0.6111;
    color: #c1c1c1;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin-bottom: 1%;
}

.emailInput {
    display: inline-block;
    width: 48.785%;
}

.endInput {
    width: 100%;
    border: 0;
    font-size: 0.5em;
    line-height: 1em;
    color: #cecece;
    font-weight: 400;
    font-family: "Open Sans";
    background-color: #515151;
}

.subscribe {
    display: inline-block;
    width: 100%;
    margin-top: 1.5%;
}

.btn-subscribe {
    width: 10.642%;
    border-radius: 1px;
    background-color: rgba(243,243,243,0);
    border: 2px solid #515151;

    font-size: 1.7141vw;
    line-height: 3.5vw;
    color: #ffffff;
    font-weight: bold;
    font-family: "Helvetica Neue";
    cursor: pointer;
}

.btn-subscribe:hover{
    border-color: #de2b24;
}

.footer {
    display: inline-block;
    height: 2.734%;
    width: 100%;
    background-color: #515151;
}

.endFooterText {
    display: inline-block;
    margin-top: 1.5%;
    font-size: 0.3889em;
    line-height: 0.75em;
    color: #cecece;
    font-weight: 400;
    font-family: "Open Sans";
}